.anchor_item{
  display: flex;
  position: relative;
  background: darkgrey;
}

.anchor_rank{
  top: 50%;
  white-space: nowrap;
  background: aqua;
}

.anchor_head{
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}


.gift_number{
  align-self: right;
}
